# Administration Files
*/repositories.md @electron/wg-admin
/policy/ @electron/wg-admin

# Working Group Directories
/wg-administrative/ @electron/wg-admin
/wg-api/ @electron/wg-api
/wg-community-safety/ @electron/wg-community-safety
/wg-ecosystem/ @electron/wg-ecosystem
/wg-infra/ @electron/wg-infra
/wg-outreach/ @electron/wg-outreach
/wg-releases/ @electron/wg-releases
/wg-security/ @electron/wg-security
/wg-upgrades/ @electron/wg-upgrades
