# Administration Files
*/repositories.md @electron/wg-admin
/policy/ @electron/wg-admin

# Working Group Directories
/wg-api/ @electron/wg-api
/wg-community-safety/ @electron/wg-community-safety
/wg-ecosystem/ @electron/wg-ecosystem
/wg-releases/ @electron/wg-releases
/wg-upgrades/ @electron/wg-upgrades
/wg-security/ @electron/wg-security
